
.forget-password {
    position: relative;
    padding: 10px 25px;
    background-color: transparent;
}

    .forget-password .forget-password-container {
        position: relative;
        display: flex;
        height: 555px;
        background-color: transparent;
    }

.forget-password-container .forget-password-center {
    flex: 3;
    text-align: center;
}


.forget-password-center .forget-password-title {
    margin-top: 150px;
}

    .forget-password-center .forget-password-title a {
        font-size: 35px;
        text-decoration: none;
        color: #000;
    }

.forget-password-form div {
    margin-top: 50px;
    text-align: center;
}

.from-group label {
    font-size: 20px;
    padding-right: 180px;
}



.from-group input {
    font-size: 19px;
    width: 350px;
    background-color: transparent;
    border-bottom: 2px solid #000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 20px;
}

input:focus {
    outline: 0px;
    border-bottom: 2.5px solid #000;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #000;
    /* -webkit-background-clip:text; */
}

i {
    color: #17202A;
}





/*.forget-password-form button {
    margin-top: 0px;
    background-color: #F5B7B1;
    color: white;
    font-size: 22px;
    border-radius: 4px;
    border-color: transparent;
    width: 170px;
    height: 35px;
}*/

/*button:active {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

button:hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}*/

button {
    border-radius: 5px;
    border: none;
    width: 13vw;
    height: 51px;
    border: 2px solid #e6006b;
    /*  cursor: pointer;
  display: flex;*/
    align-items: center;
    justify-content: center;
    background: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    button i {
        margin-left: 10px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffabc6;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }


    button:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    button:hover i {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }


@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}
