.myContent {
    padding: 40px 10px;
}

table {
    width: 98%;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    border-collapse: collapse;
    margin: 0px auto;
}

.title {
    background-color: #9092AD;
    color: #fff;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

h3 {
    color: #434040;
    text-align: center;
}

.searcharea {
    margin: auto;
    float: right;
    margin-bottom: 10px;
}

#btnShowAll {
    background-color: #8a8a8d;
    outline: none;
}


button {
    color: #fff;
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

button:hover {
        opacity: 0.9;
}

.edit {
    background-color: #96ba9a;
    outline: none;
}

.delete {
    background-color: #ce7b7b;
    outline: none;
}

#btncreate {
    background-color: #6c92ba;
    outline: none;
}


/*create visitor information*/
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

input {
    border: solid 1px #a4a1a1;
    border-radius: 5px;
    padding: 2px 10px;
    outline: none;
}


#btnconfirm, #btnconfirmdelete {
    color: #fff;
    background: #9f249f;
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

    #btnconfirm:hover, #btnconfirmdelete:hover, #btncanceldelete {
        opacity: 0.9;
    }

.cancel {
    background-color: #c0bcbc;
    outline: none;
}

.close {
    color: #aaaaaa;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.btnConfirmMessage {
    width: 20%;
    margin: auto;
    background-color: #8a8a8d;
}

#successModal {
    width: 30%;
}

select{
    font-size: 16px;
    padding: 5px 2px;
}

select option{
    font-size: 18px;
}