/* 日期選擇器 樣式 */
.dateStart, .dateEnd {
    width: 150px;
    height: 35px;
    padding: 5px;
}

/*  下拉式選單 樣式 */
.lession-select {
    width: 150px;
    height: 35px;
    padding: 5px;
}

/* 堂數 樣式 */ /* 會員編號 樣式 */
.classNumber-input, .memberID-input {
    width: 60px;
    height: 25px;
    padding: 5px;
}

    .classNumber-input:focus, .memberID-input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

/* 查詢 button 樣式 */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    height: 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
/* table 樣式 */
.record {
    padding-left: 2%;
    padding-right: 2%;
}

table {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
}

th {
    background-color: #9092AD;
    color: #ffffff;
    width: 25vw;
    height: 75px;
    text-align: center;
}

td {
    background-color: #ffffff;
    width: 25vw;
    height: 50px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

    tr:nth-of-type(even) td {
        background-color: #f3f3f3;
    }

/* 總人數 置右 樣式 */
.total-member {
    text-align: right;
    font-size: 18px;
    /*padding-right: 50px;*/
    padding-left: 80%;
}
/* 上一頁 下一頁 樣式 */
.pagination .active a {
    background-color: #8a8a8d !important;
    border: none;
}


input::placeholder {
    color: lightgray;
}