

.reset_password {
    position: relative;
    padding: 10px 80px;
    justify-content: center;
}

.btnEdit button {
    background-color: #737576;
    color: white;
}

    .reset_password .btnEdit {
        justify-content: right;
    }



button:active {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

button:hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }
}
