/* 日期選擇器 樣式 */
.dateStart, .dateEnd {
    width: 150px;
    height: 35px;
    padding: 5px;
}

/*  下拉式選單 樣式 */
.lession-select {
    width: 150px;
    height: 35px;
    padding: 5px;
}

/* 會員編號 樣式 */
.sName {
    width: 120px;
    height: 35px;
    padding: 5px;
}
/* 堂數 樣式 */
.ctLession {
    width: 80px;
    height: 35px;
    padding: 5px;
}


.classNumber-input:focus, .memberID-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/* 查詢 button 樣式 */
#btnQuery {
    display: inline-block;
    border-radius: 4px;
    background-color: #6B7BA7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    height: 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}

#btnDelete {
    display: inline-block;
    border-radius: 4px;
    background-color: #ce7b7b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    height: 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}

#btnSignup {
    display: inline-block;
    border-radius: 4px;
    background-color: #96ba9a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    height: 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/* table 樣式 */
.record {
    padding-left: 2%;
    padding-right: 2%;
}

table {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
}

th {
    background-color: #9092AD;
    color: #ffffff;
    width: 25vw;
    height: 75px;
    text-align: center;
}

td {
    background-color: #ffffff;
    width: 25vw;
    height: 50px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) td {
    background-color: #f3f3f3;
}

/* 總人數 置右 樣式 */
.total-member {
    text-align: right;
    font-size: 18px;
    /*padding-right: 50px;*/
    padding-left: 80%;
}
/* 上一頁 下一頁 樣式 */
.pagination .active a {
    background-color: #8a8a8d !important;
    border: none;
}

/*懸浮視窗  visitor information*/
/*-----------------------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 0px 10px;
    margin: 20px auto;
    padding: 0px 20px;
}


input[type=text], select {
    border: solid 1px #a4a1a1;
    border-radius: 5px;
    padding: 2px 5px;
    outline: none;
}

select {
    width: 60%;
}

input[type=radio] {
    margin: auto 25px;
}

form input[type=text]:focus, select:focus {
    background-color: #ddd;
}

.IsPresent {
    text-align: left;
    padding-left: 60px;
}

form a {
    display: flex;
    float: right;
    position: relative;
    bottom: 35px;
}

 #btnEditConfirm {
    color: #fff;
    background: #a764b2;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.btnConfirmMessage, #btnDeleteConfirm {
    color: #fff;
    background: #6B7BA7;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

#btnEditConfirm:hover, .btnConfirmMessage:hover, .cancel:hover {
    opacity: 0.9;
}

.cancel {
    background-color: #c0bcbc;
    color: #fff;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.close {
    color: #aaaaaa;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#noDataModal, #errorModal, #successModal {
    width: 30%;
}

.btnConfirmMessage {
    width: 20%;
    margin: auto;
    background-color: #8a8a8d;
}

input::placeholder {
    opacity: 0.7;
}