/* 隱藏右邊的滾動條 */
::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.card > .card-header + .list-group, .card > .list-group + .card-footer {
    border-top: 0
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .5rem
}

.card-subtitle {
    margin-top: -.25rem
}

.card-subtitle, .card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    margin-bottom: 0;
    padding: 1rem 1.25rem
}

    .card-header:first-child {
        border-radius: .25rem .25rem 0 0
    }

.card-footer {
    background-color: #fff;
    border-top: 0 solid transparent;
    padding: 1rem 1.25rem
}

    .card-footer:last-child {
        border-radius: 0 0 .25rem .25rem
    }

.card-header-tabs {
    border-bottom: 0;
    margin-bottom: -1rem;
    margin-left: -.625rem;
    margin-right: -.625rem
}

    .card-header-tabs .nav-link.active {
        background-color: #fff;
        border-bottom-color: #fff
    }

.card-header-pills {
    margin-left: -.625rem;
    margin-right: -.625rem
}

.card-img-overlay {
    border-radius: .25rem;
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%
}

.card-img, .card-img-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card-img, .card-img-bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.card-group > .card {
    margin-bottom: 12px
}

@media (min-width:576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap
    }

        .card-group > .card {
            flex: 1 0 0%;
            margin-bottom: 0
        }

            .card-group > .card + .card {
                border-left: 0;
                margin-left: 0
            }

            .card-group > .card:not(:last-child) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0
            }

                .card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
                    border-top-right-radius: 0
                }

                .card-group > .card:not(:last-child) .card-footer, .card-group > .card:not(:last-child) .card-img-bottom {
                    border-bottom-right-radius: 0
                }

            .card-group > .card:not(:first-child) {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0
            }

                .card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
                    border-top-left-radius: 0
                }

                .card-group > .card:not(:first-child) .card-footer, .card-group > .card:not(:first-child) .card-img-bottom {
                    border-bottom-left-radius: 0
                }
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align)
}

@media (min-width:576px) {
    .container, .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px
    }
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file] {
    overflow: hidden
}

    .form-control[type=file]:not(:disabled):not([readonly]) {
        cursor: pointer
    }

.form-control:focus {
    background-color: #fff;
    border-color: #9dbeee;
    box-shadow: 0 0 0 .2rem rgba(59,125,221,.25);
    color: #495057;
    outline: 0
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

.form-control::file-selector-button {
    -webkit-margin-end: .85rem;
    background-color: #e9ecef;
    border: 0 solid;
    border-color: inherit;
    border-inline-end-width: 1px;
    border-radius: 0;
    color: #495057;
    margin: -.3rem -.85rem;
    margin-inline-end: .85rem;
    padding: .3rem .85rem;
    pointer-events: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }

    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}

.form-control::-webkit-file-upload-button {
    -webkit-margin-end: .85rem;
    background-color: #e9ecef;
    border: 0 solid;
    border-color: inherit;
    border-inline-end-width: 1px;
    border-radius: 0;
    color: #495057;
    margin: -.3rem -.85rem;
    margin-inline-end: .85rem;
    padding: .3rem .85rem;
    pointer-events: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}

.form-control-plaintext {
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
    color: #495057;
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    padding: .3rem 0;
    width: 100%
}

    .form-control-plaintext.form-control-lg, .form-control-plaintext.form-control-sm {
        padding-left: 0;
        padding-right: 0
    }

.form-control-sm {
    border-radius: .1rem;
    font-size: .75rem;
    min-height: calc(1.525rem + 2px);
    padding: .2rem .5rem
}

    .form-control-sm::file-selector-button {
        -webkit-margin-end: .5rem;
        margin: -.2rem -.5rem;
        margin-inline-end: .5rem;
        padding: .2rem .5rem
    }

    .form-control-sm::-webkit-file-upload-button {
        -webkit-margin-end: .5rem;
        margin: -.2rem -.5rem;
        margin-inline-end: .5rem;
        padding: .2rem .5rem
    }

.form-control-lg {
    border-radius: .3rem;
    font-size: .925rem;
    min-height: calc(2.1875rem + 2px);
    padding: .4rem 1rem
}

    .form-control-lg::file-selector-button {
        -webkit-margin-end: 1rem;
        margin: -.4rem -1rem;
        margin-inline-end: 1rem;
        padding: .4rem 1rem
    }

    .form-control-lg::-webkit-file-upload-button {
        -webkit-margin-end: 1rem;
        margin: -.4rem -1rem;
        margin-inline-end: 1rem;
        padding: .4rem 1rem
    }

textarea.form-control {
    min-height: calc(1.9125rem + 2px)
}

textarea.form-control-sm {
    min-height: calc(1.525rem + 2px)
}

textarea.form-control-lg {
    min-height: calc(2.1875rem + 2px)
}

.form-control-color {
    height: auto;
    padding: .3rem;
    width: 3rem
}

    .form-control-color:not(:disabled):not([readonly]) {
        cursor: pointer
    }

    .form-control-color::-moz-color-swatch {
        border-radius: .2rem;
        height: 1.5em
    }

    .form-control-color::-webkit-color-swatch {
        border-radius: .2rem;
        height: 1.5em
    }


.row > * {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
}



.student-select-content {
    width: 100%;
    justify-items: center;
    align-items: center;
    position: relative;
}


.rounded-circle {
    border-radius: 50% !important;
}

.card-body img {
    height: 200px;
    width: 200px;
}

.from-group label {
    margin-right: 20px;
    font-size: 18px;
    display: inline-block;
    width: 100px;
    text-align: justify;
    text-align-last: justify;
    vertical-align: middle;
}



.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    color: #495057;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.3rem 0.85rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}


.btnDiv a {
    display: flex;
    font-size: 20px;
    border-radius: 4px;
    border-color: transparent;
    text-align: center;
    
    width: 55px;
    height: 38px;
}

#btnEdit {
    flex: 1;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 2px 5px;
    background-color: #666666;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    border-color: transparent;
    height: 38px;
    margin-left:40%;
}

#btnReturn {
    flex: 1;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ced4da;
    padding: 2px 5px;
    color: black;
    font-size: 20px;
    border-radius: 4px;
    border-color: transparent;
    height: 38px;
}

#btnEdit:hover {
    opacity: 0.7;
}

#btnReturn:hover {
    text-decoration: none;
    opacity: 0.7;
}
