.myContent {
    padding: 20px 10px;
}


table {
    width: 98%;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    border-collapse: collapse;
    margin: 0px auto;
}

.title {
    background-color: #9092AD;
    color: #fff;
}

th, td {
    text-align: center;
    padding: 16px;
}


tr:nth-child(even) {
    background-color: #f2f2f2
}

.searchArea {
    margin-left: 0;
    text-align:left;
}

.createArea {
    position:absolute;
    right: 20px;
}

button {
    color: #fff;
    padding: 5px 10px;
    margin: 0px 0px;
    border: none;
    border-radius: 3px;
    outline: none;
}

button:hover {
        opacity: 0.9;
}

#moreDetail {
    border: none;
    border-radius: 5px;
    background-color: #6c92ba;
    padding: 3px 10px;
    color: #fff;
}

#moreDetail:hover{
    opacity: 0.9;
    cursor: pointer;
}

#btnQuery, #btnShowAll {
    background-color: #6B7BA7;
}

.edit {
    background-color: #96ba9a;
    outline: none;
}

.delete {
    background-color: #ce7b7b;
    outline: none;
}

#btncreate {
    background-color: #D37CA5;
    outline: none;
}

#btncreateReserve {
    background-color: #b591b3;
    outline: none;
}


.cancel {
    background-color: #b0b9dd;
    color: #fff;
    padding: 8px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 3px;
}

.cancel:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*create visitor information*/
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 0px 10px;
    margin: 20px auto;
    padding: 0px 20px;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #000;
}


input[type=text], select {
    border: solid 1px #a4a1a1;
    border-radius: 5px;
    height: 30px;
    padding: 2px 5px;
    outline: none;
    width: 65%;
}

input[type=text]:focus, input[type=date]:focus, select:focus {
    border-color: rgba(135, 206, 250, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(135, 206, 250, 0.6);
}


#create_gender_col {
    position: relative;
    right: 33px;
}


#gender_col {
    position: relative;
    right: 30px;
}

input[type=radio] {
        margin: auto 25px;
}


#queryinfo {
    width: 24%;
}


input[type=text]::placeholder{
    opacity: 0.7;
}

input[type="date"]:not(.has-value):before {
    color: gray;
    opacity:0.7;
    content: attr(placeholder);
}

input[type=date] {
    width: 24%;
    border-radius: 5px;
    border: solid 1px #a4a1a1;
    padding: 2px 5px;
    outline: none;
}


form a {
    display: flex;
    float: right;
    position: relative;
    bottom: 35px;
}

#btnCreateConfirm, #btnEditConfirm, #btnconfirmdelete, #btnCreateReserveConfirm {
    color: #fff;
    background: #6B7BA7;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}


#btnconfirm:hover, #btnconfirmdelete:hover, #btncanceldelete, #btnCreateReserveConfirm:hover,
#btnCreateConfirm:hover{
    opacity: 0.9;
}

.close {
    color: #aaaaaa;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btnConfirmMessage {
    width: 20%;
    margin: auto;
    background-color: #6B7BA7;
}

 .btnConfirmMessage:focus{
    outline:none;
}

.star {
    color: red;
    font-size: 16px;
}

#emptyInputRemindModal, #errorValidationModal, #deleteContent,
#errorModal, #successModal {
    width: 400px;
    margin-top: 80px;
}


.pagination .active a {
    background-color: #666ea2 !important;
    border:none;
}

.pagination a {
    color: #fff !important;
    background-color: #9092AD;
}

.pagination a:hover{
    background-color: #b4a9b9 !important;
}

@media(max-width: 1170px){
    .mail {display: none; }
    .searchArea span, input[type=date]{display:none;}
    #queryinfo{width: 55%; }
}

@media(max-width: 800px){
    .modal-content{width: 600px; margin-top:-60px;}
    input[type=text],select{width: 60%; height: 30px; }
    .row {margin: 3px;}
    .column{margin: 7px;}
    #gender_col {position:relative; left: -71px;}
    #mail_col{position:relative; left: -3px;}
    #create_gender_col{ right: 68px;}
    #create_mail_col {right: 6px; }
    .createmodals {margin: auto;}
    hr{margin-bottom: 20px;}
    table{margin-top: 20px;}
}

@media(max-width: 737px){
    .gender, .phone {display: none;}
}

@media(max-width: 547px){
    .edit{ margin-bottom: 5px;}
    #queryinfo { width: 45%;}
    #queryinfo::placeholder{font-size: 13px;}
    .searchArea button, .createArea button{font-size:14px; padding: 5px 6px;}
    .modal-content { width: 420px;}
    input[type=text], select { width: 73%;}
    #gender_col { left: -37px; }
    #moreDetail{font-size: 14px; position: relative; bottom: -6px; margin:auto 0px; padding: 5px 10px; }
    #create_gender_col {left:-36px;}
    #create_mail_col{ left: -22px; }
}


