@model MusFit.Models.Employee
@{
    ViewData["Title"] = "查詢員工";
    var message = (string)ViewData["error"] ?? string.Empty;
}

<link rel="stylesheet" href="~/css/EmployeeQuery.css">

<main class="employee-form" style="margin-left:-10%;">
    <h4>查詢員工</h4>
    <div class="employee-content col-12" method="get" action="@Url.Action("EmployeeQuery","Manage")">
        @{
            if (message != "")
            {
                    <h6 id="error" style="color: #FF88C1"><b>@ViewData["error"]</b></h6>

            }
            else
            {
                    <h6 id="success" style="color:rgb(14, 34, 62);"><b>請輸入任一資訊進行查詢</b></h6>

            }
        }

        <div class="content" style="margin-left: 0%;">
            <label asp-for="ENumber">員工編號</label>
            <input asp-for="ENumber" type="text" name="ENumber" value="">
            <label asp-for="EName">員工姓名</label>
            <input asp-for="EName" type="text" name="EName" value="">
            <label asp-for="EAccount">員工帳號</label>
            <input asp-for="EAccount" type="text" name="EAccount" value="">
            <button id="query" type="button" onclick="QueryEmployee()">查詢</button>
        </div>
        

    </div>
 
</main>

@section Scripts{

    <script>

        function QueryEmployee() {
            var number = $('input[name="ENumber"]').val();
            var name = $('input[name="EName"]').val();
            var account = $('input[name="EAccount"]').val();
            var result = "";

            //若符合一個或多值時
            if (number != "") {
                result += 'ENumber=' + number + '&';
            }

            if (name != "") {
                result += 'EName=' + name + '&';
            }

            if (account != "") {
                result += 'EAccount=' + account + '&';
            }


            window.location.href = '@Url.Action("EmployeeSearch", "Manage")?' + result;
        }


    </script>



}
