@{
    ViewData["Title"] = "InBody紀錄";
}

<link rel="stylesheet" href="~/css/InBodyRecords.css" />


<div class="myForm">
    <h3>InBody紀錄</h3>
    <table>
        <tr>
            <td>測量日期 : </td>
            <td id="measuredate"></td>
            <td>姓名 : </td>
            <td id="name"></td>
            <td>性別 : </td>
            <td id="gender"></td>
            <td>年齡 : </td>
            <td id="age"></td>
        </tr>
    </table>
    <br />
    <fieldset>
        <legend class="mybody">身體組成</legend>
        <table>
            <tr>
                <th>項目</th>
                <th>值</th>
                <th>最小值</th>
                <th>最大值</th>
                <th>項目</th>
                <th>值</th>
                <th>最小值</th>
                <th>最大值</th>
            </tr>
            <tr>
                <td>身高</td>
                <td id="height"></td>
                <td>-</td>
                <td>-</td>
                <td>體重</td>
                <td id="weight"></td>
                <td id="minWeight"></td>
                <td id="maxWeight"></td>
            </tr>
            <tr>
                <td>骨骼肌</td>
                <td id="smm"></td>
                <td id="minSMM"></td>
                <td id="maxSMM"></td>
                <td>體脂肪</td>
                <td id="bodyFatMass"></td>
                <td id="minBodyFatMass"></td>
                <td id="maxBodyFatMass"></td>
            </tr>
            <tr>
                <td>身體總水量</td>
                <td id="totalBodyWater"></td>
                <td id="minTotalBodyWater"></td>
                <td id="maxTotalBodyWater"></td>
                <td>蛋白質重</td>
                <td id="protein"></td>
                <td id="minProtein"></td>
                <td id="maxProtein"></td>
            </tr>
            <tr>
                <td>除脂體重</td>
                <td id="FFM"></td>
                <td id="minFFM"></td>
                <td id="maxFFM"></td>
                <td>礦物質重</td>
                <td id="mineral"></td>
                <td id="minMineral"></td>
                <td id="maxMineral"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend class="fatdiagnosis">肥胖診斷</legend>
        <table>
            <tr>
                <th>項目</th>
                <th>值</th>
                <th>最小值</th>
                <th>最大值</th>
                <th>項目</th>
                <th>值</th>
                <th>最小值</th>
                <th>最大值</th>
            </tr>
            <tr>
                <td>體質量指數</td>
                <td id="BMI"></td>
                <td id="minBMI"></td>
                <td id="maxBMI"></td>
                <td>體脂肪率</td>
                <td id="PBF"></td>
                <td id="minPBF"></td>
                <td id="maxPBF"></td>
            </tr>
            <tr>
                <td>基礎代謝率</td>
                <td id="BMR"></td>
                <td id="minBMR"></td>
                <td id="maxBMR"></td>
                <td>腰臀圍比</td>
                <td id="WHR"></td>
                <td id="minWHR"></td>
                <td id="maxWHR"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend class="nutrition">營養評估</legend>
        <div class="level-row">
            <label for="proteinlevel"><strong>蛋&nbsp;&nbsp;白&nbsp;&nbsp;質</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="proteinLevel" />正常
            <input type="radio" name="proteinLevel" />不足
        </div>
        <div class="level-row">
            <label for="minerallevel"><strong>骨&nbsp;&nbsp;礦&nbsp;&nbsp;質</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="mineralLevel" />正常
            <input type="radio" name="mineralLevel" />不足
        </div>
        <div class="level-row">
            <label for="bodyfatlevel"><strong>體脂肪重</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="bodyfatLevel" />正常
            <input type="radio" name="bodyfatLevel" />不足
            <input type="radio" name="bodyfatLevel" />過量
        </div>
    </fieldset>

    <fieldset>
        <legend class="wieghtmanage">體重管理</legend>
        <div class="level-row">
            <label for="weightlevel"><strong>體&emsp;&emsp;重</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="weightLevel" />正常
            <input type="radio" name="weightLevel" />低
            <input type="radio" name="weightLevel" />高
        </div>
        <div class="level-row">
            <label for="smmlevel"><strong>骨骼肌重</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="smmlevel" />正常
            <input type="radio" name="smmlevel" />低
            <input type="radio" name="smmlevel" />強健
        </div>
    </fieldset>

    <fieldset>
        <legend class="fatlevel">肥胖等級</legend>
        <div class="level-row">
            <label for="bmilevel"><strong>BMI</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="bmilevel" />正常
            <input type="radio" name="bmilevel" />低
            <input type="radio" name="bmilevel" />高
            <input type="radio" name="bmilevel" />極高
        </div>
        <div class="level-row">
            <label for="pbflevel"><strong>PBF</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="pbflevel" />正常
            <input type="radio" name="pbflevel" />低
            <input type="radio" name="pbflevel" />高
        </div>
        <div class="level-row">
            <label for="whrlevel"><strong>WHR</strong></label>
        </div>
        <div class="level-row">
            <input type="radio" name="whrlevel" />正常
            <input type="radio" name="whrlevel" />低
            <input type="radio" name="whrlevel" />高
        </div>
    </fieldset>

    <fieldset>
        <legend class="totalcontrol">肌肉-脂肪控制</legend>
        <div class="control-row">
            <div class="column">
                <label>肌肉控制</label>
                <p id="muscleControl"></p>
                <p>kg</p>
            </div>
            <div class="column">
                <label>脂肪控制</label>
                <p id="fatControl"></p>
                <p>kg</p>
            </div>
            <div class="column">
                <label>健身評分</label>
                <p id="inBodyScore"></p>
                <p>分</p>
            </div>
        </div>
    </fieldset>

    <div id="cancelArea"></div>

</div>

@*delete-confirm-modal*@
<div id="deleteModal" class="modal">

    <div id="deleteInBody" class="modal-content">
        <span class="close" onclick="closeModel()">&times;</span>
        <p>確定刪除此筆紀錄?</p>
        <div>
            <input type="button" id="btnconfirmdelete" value="確定" />
            <button onclick="closeModel()">取消</button>
        </div>
    </div>

</div>

@*success operation*@
<div id="successMessage" class="modal">

    <div id="successModal" class="modal-content">
        <span class="close" onclick="closeSuccessModel()">&times;</span>
        <input type="hidden" id="sId" />
        <p>已存檔</p>
        <button class="btnConfirmMessage" onclick="closeSuccessModel()">確定</button>
    </div>

</div>

@section Scripts{
    <script>

        function goBack(sId) {
            window.location.href = '@Url.Action("InBodyPersonalRecords","Manage")?id=' + sId;
        }

        //delete inBody records
        $('#btnconfirmdelete').click(function () {
            $.ajax({
                type: "delete",
                url: "/api/inbodies/" + ID,
                success: function (e) {
                    $('#deleteModal').css("display", "none");
                    $('#successMessage').css("display", "block");
                }
            })
        })

        //open delete modal
        function openDeleteModal(ID) {
            $('#inBodyId').val(ID);
            $('#deleteModal').css("display", "block");
        }

        //close delete modal
        function closeModel() {
            $('#deleteModal').css("display", "none");
        }

        //close success modal
        function closeSuccessModel() {
            $('#successMessage').css("display", "none");
            var sId = $('#sId').val();
            goBack(sId);
        }

        var ID = @ViewBag.Id;

        $.ajax({
            type: "GET",
            url: "/api/inbodies/" + ID,
            success: function (e) {
                var date = new Date(e.date).toLocaleString();
                $("#measuredate").text(date);
                $("#age").text(e.age);
                $('#height').text(e.height);
                $('#weight').text(e.weight);
                $('#smm').text(e.smm);
                $('#bodyFatMass').text(e.bodyFatMass);
                $('#totalBodyWater').text(e.totalBodyWater);
                $('#protein').text(e.protein);
                $('#FFM').text(e.ffm);
                $('#mineral').text(e.mineral);
                $('#BMI').text(e.bmi);
                $('#PBF').text(e.pbf);
                $('#BMR').text(e.bmr);
                $('#WHR').text(e.whr);
                $('#minWeight').text(e.weightMinRange);
                $('#maxWeight').text(e.weightMaxRange);
                $('#minSMM').text(e.smmminRange);
                $('#maxSMM').text(e.smmmaxRange);
                $('#minBodyFatMass').text(e.bodyFatMassMinRange);
                $('#maxBodyFatMass').text(e.bodyFatMassMaxRange);
                $('#minTotalBodyWater').text(e.totalBodyWaterMinRange);
                $('#maxTotalBodyWater').text(e.totalBodyWaterMaxRange);
                $('#minProtein').text(e.proteinMinRange);
                $('#maxProtein').text(e.proteinMaxRange);
                $('#minFFM').text(e.ffmminRange);
                $('#maxFFM').text(e.ffmmaxRange);
                $('#minMineral').text(e.mineralMinRange);
                $('#maxMineral').text(e.mineralMaxRange);
                $('#minBMI').text(e.bmiminRange);
                $('#maxBMI').text(e.bmimaxRange);
                $('#minPBF').text(e.pbfminRange);
                $('#maxPBF').text(e.pbfmaxRange);
                $('#minBMR').text(e.bmrminRange);
                $('#maxBMR').text(e.bmrmaxRange);
                $('#minWHR').text(e.whrminRange);
                $('#maxWHR').text(e.whrmaxRange);
                $('#muscleControl').text(e.muscleControl);
                $('#fatControl').text(e.fatControl);
                $('#inBodyScore').text(e.inBodyScore);

                if (e.proteinLevel == 1) {
                    $('input[name=proteinLevel]')[0].checked = true;
                }
                else {
                    $('input[name=proteinLevel]')[1].checked = true;
                }

                if (e.boneMineralLevel == 1) {
                    $('input[name=mineralLevel]')[0].checked = true;
                }
                else {
                    $('input[name=mineralLevel]')[1].checked = true;
                }

                if (e.bodyFatMassLevel == 1) {
                    $('input[name=bodyfatLevel]')[0].checked = true;
                }
                else if (e.bodyFatMassLevel == 0) {
                    $('input[name=bodyfatLevel]')[1].checked = true;
                }
                else {
                    $('input[name=bodyfatLevel]')[2].checked = true;
                }

                if (e.weightLevel == 1) {
                    $('input[name=weightLevel]')[0].checked = true;
                }
                else if (e.weightLevel == 0) {
                    $('input[name=weightLevel]')[1].checked = true;
                }
                else {
                    $('input[name=weightLevel]')[2].checked = true;
                }

                if (e.smmlevel == 1) {
                    $('input[name=smmlevel]')[0].checked = true;
                }
                else if (e.smmlevel == 0) {
                    $('input[name=smmlevel]')[1].checked = true;
                }
                else {
                    $('input[name=smmlevel]')[2].checked = true;
                }

                if (e.bmilevel == 1) {
                    $('input[name=bmilevel]')[0].checked = true;
                }
                else if (e.bmilevel == 0) {
                    $('input[name=bmilevel]')[1].checked = true;
                }
                else if (e.bmilevel == 2) {
                    $('input[name=bmilevel]')[2].checked = true;
                }
                else {
                    $('input[name=bmilevel]')[3].checked = true;
                }

                if (e.pbflevel == 1) {
                    $('input[name=pbflevel]')[0].checked = true;
                }
                else if (e.pbflevel == 0) {
                    $('input[name=pbflevel]')[1].checked = true;
                }
                else {
                    $('input[name=pbflevel]')[2].checked = true;
                }

                if (e.whrlevel == 1) {
                    $('input[name=whrlevel]')[0].checked = true;
                }
                else if (e.whrlevel == 0) {
                    $('input[name=whrlevel]')[1].checked = true;
                }
                else {
                    $('input[name=whrlevel]')[2].checked = true;
                }

                var cancelBtn = `<button id = "btndelete" onclick = "openDeleteModal(${e.inBodyId})"> 刪除 </button>
                            <button onclick="goBack(${e.sId})"> 返回 </button>`;
                $('#cancelArea').append(cancelBtn);

                $('#sId').val(e.sId);
                var sID = e.sId;
                $.ajax({
                    type: "GET",
                    url: "/api/students/" + sID,
                    success: function (e) {
                        $('#name').text(e.sName);
                        if (e.sGender == false) { $('#gender').text('女'); }
                        else { $('#gender').text('男'); }
                    }
                })

            },
            error: function (error) {
                alert('failed');
            }
        })


    </script>
}