
@{
    ViewData["Title"] = "首頁";
}
@*<div class="imgArea"><img src="~/Images/MusFit_large.jpg"/></div>*@
    

<div class="myData">
    <div class="row" >
        <div class="col-sm-4">
            <fieldset>
            <legend id="memberOfThisYear" class="odd">
                <img class="golden_crown" src="~/Images/golden_crown.png"/>
            </legend>
            <h2 id="studentNumberOfThisYear"></h2>
        </fieldset>
        </div>
    <div class="col-sm-4">
            <fieldset>
                <legend class="even">
                    <img class="white_crown" src="~/Images/white_crown.png"/>
                    <div>&nbsp;會員總人數</div>
                </legend>
                <h2 id="studentNumber"></h2>
            </fieldset>
    </div>
        <div class="col-sm-4">
            <fieldset>
                <legend class="odd"> 
                    <img class="golden_crown" src="~/Images/golden_crown.png"/>
                    <div>會員增幅</div>
                </legend>
                 <h2 id="increasePercentage"></h2>
             </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <fieldset>
                <legend class="even">
                    <img class="white_crown" src="~/Images/white_crown.png"/>
                    <div>&nbsp;招生率</div>
                </legend>
                 <h2 id="operationPercentage"></h2>
             </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset>
                <legend id="classOrders" class="odd">
                    <img class="golden_crown" src="~/Images/golden_crown.png"/>
                </legend>
                 <h2 id="classOrderNumber"></h2>
             </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset>
                <legend class="even">
                    <img class="white_crown" src="~/Images/white_crown.png"/>
                    <div>&nbsp;訪客總人數</div>
                </legend>
                 <h2 id="visitorNumber"></h2>
             </fieldset>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        //get student number
        $.ajax({
            type: "get",
            url: "/api/students/studentNumber/thisyear/",
            success:function(n){
                var date = new Date();
                var year = date.getFullYear();
                $('#memberOfThisYear').append(`<div>${year}年會員數</div>`);
                $('#studentNumberOfThisYear').text(`${n} 人`);
            }
        })


        //get student number
        $.ajax({
            type: "get",
            url: "/api/students/studentNumber/",
            success:function(n){
                $('#studentNumber').text(`${n} 人`);
            }
        })

        //get student number
        $.ajax({
            type: "get",
            url: "/api/students/studentNumber/increasePercentage/",
            success:function(n){
                $('#increasePercentage').text(`${n.toFixed(1)}%`);
            }
        })

        //get operation percetage
        $.ajax({
            type: "get",
            url: "/api/classes/operationPercentage/",
            success:function(n){
                $('#operationPercentage').text(`${n.toFixed(1)}%`);
            }
        })

        //get operation percetage
        $.ajax({
            type: "get",
            url: "/api/classorders/orderNumberOfThisYear/",
            success:function(n){
                var date = new Date();
                var year = date.getFullYear();
                $('#classOrders').append(`<div>${year}年購課堂數</div>`);
                $('#classOrderNumber').text(`${n} 堂`);
            }
        })

        //get visitor number
        $.ajax({
            type: "get",
            url: "/api/students/VisitorNumber/",
            success:function(n){
                $('#visitorNumber').text(`${n} 人`);
            }
        })








    </script>
}

