@{
	ViewData["Title"] = "教室管理 查詢";
}
<link rel="stylesheet" href="~/css/QueryRoomManage.css" />

<h1>&nbsp;&nbsp;&nbsp;教室管理 查詢</h1>
<hr>
<br>
	&nbsp;&nbsp;&nbsp;
<label for="dateStart">&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;期: &nbsp;</label>
<input type="date" class="dateStart" id="dateStart" min="2022-01-01" max="2023-12-31" onchange="moveToEnd()" required />
<label for="dateEnd">&nbsp;&nbsp;&nbsp;到&nbsp;&nbsp;&nbsp;</label>
<input type="date" class="dateEnd" id="dateEnd" min="2022-01-01" max="2023-12-31" />
&nbsp; ( 選填 ) &nbsp;&nbsp;&nbsp;
<br>
<br>&nbsp;&nbsp;&nbsp;
<label for="tID">&nbsp;&nbsp;時&nbsp;&nbsp;&nbsp;&nbsp;段: &nbsp;</label>&nbsp;
<select class="lession-select" name="tID" id="tID">
	<option value="none" selected disabled hidden>請選擇</option>
	<option value="9">09:00 ~ 10:00</option>     <!-- &emsp;&emsp; -->
	<option value="10">10:00 ~ 11:00</option>
	<option value="11">11:00 ~ 12:00</option>
	<option value="13">13:00 ~ 14:00</option>
	<option value="14">14:00 ~ 15:00</option>
	<option value="15">15:00 ~ 16:00</option>
	<option value="16">16:00 ~ 17:00</option>
	<option value="17">17:00 ~ 18:00</option>
	<option value="18">18:00 ~ 19:00</option>
	<option value="19">19:00 ~ 20:00</option>
	<option value="20">20:00 ~ 21:00</option>
	<option value="21">21:00 ~ 22:00</option>
</select>
	&nbsp; ( 選填 ) &nbsp;&nbsp;&nbsp;
<label for="roomID">教室: </label>&nbsp;
<select id="roomID" name="roomID" class="lession-select">
	<option value="none" selected disabled hidden>請選擇</option>
	<option value="1">1801</option>
	<option value="2">1802</option>
	<option value="3">1803</option>
	<option value="4">1804</option>
	<option value="5">1805</option>
</select>
	&nbsp; ( 選填 ) &nbsp;&nbsp;&nbsp;

<button class="button" style="vertical-align:middle" id="btnQuery"><span>查詢</span> </button>
<span class="total-member" id="dataNum">全部 :  共 0 筆 </span>
<br>
<br>

<!-- table 開始 -->

<div class="record">
	<table style="width:100%">
		<thead>
			<tr>
				<th>日期</th>
				<th>時段</th>
				<th>教室</th>
				<th>課程類型</th>
				<th>課程名稱</th>
				<th>教練</th>
			</tr>
		</thead>
		<tbody id="Listbody">
		</tbody>

	</table>
	<br>
</div>
@*pagination*@
<div class="d-flex justify-content-center">
	<nav aria-label="Page navigation example">
		<ul class="pagination" id="pageid"></ul>
	</nav>
</div>

@section Scripts{
	<script>
		// 分頁功能
		const pageid = document.getElementById('pageid');
		pageid.addEventListener('click', switchPage);
		var nowpage;

		function switchPage(n) {
			n.preventDefault();
			const nowpage = n.target.dataset.page; // nowpage = "data-page"
			console.log("nowpage:" + nowpage);
			pagination(jsonData, nowpage);
		}

		// 計算分頁數
		var page;
		function pagination(jsonData, nowPage) {

			const dataTotal = jsonData.length;
			const perpage = 5;
			const pageTotal = Math.ceil(dataTotal / perpage);

			let currentPage = nowPage;
			// 當"當前頁數"比"總頁數"大的時候，"當前頁數"就等於"總頁數"
			if (currentPage > pageTotal) { currentPage = pageTotal; }

			const minData = (currentPage * perpage) - perpage + 1;
			const maxData = (currentPage * perpage);

			// dynamic data array according to current page
			const data = [];

			jsonData.forEach((item, index) => {
				const num = index + 1;
				// 當 num 比 minData 大且又小於 maxData 就push進去新陣列。
				if (num >= minData && num <= maxData) { data.push(item); }
			})
			page = {
				pageTotal,
				currentPage,
				hasPage: currentPage > 1,  // has previous page
				hasNext: currentPage < pageTotal,  // has next page
			}
			displayData(data);
			pageBtn(page, nowPage);
			console.log(`全部資料:${dataTotal} 每一頁顯示:${perpage}筆 總頁數:${pageTotal}`);
			document.getElementById("dataNum").innerText = `全部 :  共 ${dataTotal} 筆`;
		}


		function displayData(data) {
			var tableRow;
			data.forEach(function (x) {
					var term;
					switch (x.tID) {
						case 9:
							term = "09:00 ~ 10:00";
							break;
						case 10:
							term = "10:00 ~ 11:00";
							break;
						case 11:
							term = "11:00 ~ 12:00";
							break;
						case 13:
							term = "13:00 ~ 14:00";
							break;
						case 14:
							term = "14:00 ~ 15:00";
							break;
						case 15:
							term = "15:00 ~ 16:00";
							break;
						case 16:
							term = "16:00 ~ 17:00";
							break;
						case 17:
							term = "17:00 ~ 18:00";
							break;
						case 18:
							term = "18:00 ~ 19:00";
							break;
						case 19:
							term = "19:00 ~ 20:00";
							break;
						case 20:
							term = "20:00 ~ 21:00";
							break;
						case 21:
							term = "21:00 ~ 22:00";
							break;
						default:

					}
					var date = new Date(x.ctDate).toLocaleDateString();
					tableRow += `
										<tr class="result">
												<td>${date}</td>
												<td>${term}</td>
												<td>${x.roomName}</td>
												<td>${x.lcType}</td>
												<td>${x.cName}</td>
												<td>${x.eEngName}</td>
										</tr>
										`;
				count++;
			})
			
			$('.result').remove();
			$('#Listbody').append(tableRow);
		}

		function pageBtn(page, nowPage) {
			const totalPage = page.pageTotal;
			let pagination = document.querySelector('#pageid');
			var pageHtml = "", prevButton, nextButton;
			let pageIndex = nowPage;
			//let pageIndex =9;

			console.log("裡面pageIndex : " + pageIndex);   // ok
			if (page.hasPage) {
				prevButton = `<li class='list-items' id='btnPrev'><a class="page-link" href="#" data-page="${Number(page.currentPage) - 1}">&laquo;</a></li>`;
			} else {
				prevButton = `<li class='list-items' id='btnPrev'><a class="page-link" href="#"  data-page="${pageIndex}">&laquo;</a></li>`;
			}
			if (page.hasNext) {
				nextButton = `<li class='list-items' id='btnNext'><a class="page-link" href="#" data-page="${Number(page.currentPage) + 1}">&raquo;</a></li>`;
			} else {
				nextButton = `<li class='list-items' id='btnNext'><a class="page-link" href="#" data-page="${pageIndex}" >&raquo;</a></li>`;
			}

			let firstPage = `<li class='list-items' pagenumber=1><a class="page-link" href="#" data-page="${i}">1</a></li>`;
			let lastPage = `<li class='list-items' pagenumber=${totalPage}><a class="page-link" href="#" data-page="${totalPage}">${totalPage}</a></li>`;
			let leftOmitPage = `<li class='list-items' id='btnGoLeft'><a class="page-link" href="#" data-page="${i}">...</a></li>`;
			let rightOmitPage = `<li class='list-items' id='btnGoRight'><a class="page-link" href="#" data-page="${i}">...</a></li>`;
			pageHtml = prevButton;
			/* 生成頁數 */
			if (totalPage <= 10) {
				//  總頁數小於等於10頁全部顯示
				for (let i = 1; i <= totalPage; i++) {
					pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
				}
			} else if (pageIndex <= 8) {
				//總頁數大於10頁遠離總頁數
				for (let i = 1; i <= 9; i++) {
					pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
				}
				pageHtml += rightOmitPage;
				pageHtml += lastPage;
			} else if (pageIndex > totalPage - 7) {
				//總頁數大於10頁且當前頁接近總頁數
				pageHtml += firstPage;
				pageHtml += leftOmitPage;
				for (let i = totalPage - 8; i <= totalPage; i++) {
					pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
				}
			} else {
				//當前頁在中間
				pageHtml += firstPage;
				pageHtml += leftOmitPage;
				for (let i = pageIndex - 3; i <= pageIndex + 3; i++) {
					pageHtml += `<li class='list-items' pagenumber=${i}><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
				}
				pageHtml += rightOmitPage;
				pageHtml += lastPage;
			}
			pageHtml += nextButton;
			pagination.innerHTML = pageHtml;
			document.querySelector("li[pagenumber='" + pageIndex + "']").classList.add('active');
		}


		//  全部show
		//var dataList = [];
		var jsonData = [];
		$.ajax({
			type: "get",
			url: "/api/Rooms/roomList",
				success: function (data) {
				jsonData = data;
				console.log("jsonData: "+ jsonData);
				pagination(jsonData, 1);
			}
		})

		// 查詢
		var mydateStart, mydateEnd, mytID, mylcID, count;
		$('#btnQuery').click(function () {
			count = 0;
			mydateStart = $('#dateStart').val();    //  xxxx-xx-xx
			mydateEnd = $('#dateEnd').val();
			mytID = $('#tID').val();
			myroomID = $('#roomID').val();
			if (mydateStart == "") {
				mydateStart = "2999-12-31";
				mydateEnd = "2999-12-31";
			}
			if (mytID == null) mytID = 99;
			if (myroomID == null) myroomID = 99;
			console.log("mydateStart: " + mydateStart);
			console.log("mydateEnd: " + mydateEnd);
			console.log("mytID: " + mytID);
			console.log("myroomID: " + myroomID);

			if (mydateStart == "2999-12-31" && mylcID == 99 && myroomID == 99) {
				//$('#errorMessage').css("display", "block");
				alert("請設定查詢條件，至少需要選取一項");
			}
			else {
				$.ajax({
					type: "get",
					//GET: api/Rooms/RoomQuery/2023-01-01/2023-02-01/9/5
					url: "/api/Rooms/RoomQuery/" + mydateStart + "/" + mydateEnd + "/" + mytID + "/" + myroomID,
					success: function (data) {
						jsonData = data;
						console.log("jsonData: " + jsonData);
						pagination(jsonData, 1);
						//沒有查到資料
						if (count == 0) {
							alert("沒有查到相關資料");
							//$('#showNoDataModal').css("display", "block");
						}
					}
				})
			}
		})

		function moveToEnd() {
			document.getElementById("dateEnd").value = document.getElementById("dateStart").value;
		}


	</script>
   }
