@model MusFit.Models.ResetPasswordModel
@{
    var messageNew = (string)ViewData["errorNew"] ?? string.Empty;
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="content">      
       <div class="login-container">

                    <div class="login-content reset">
                            <h2>                        
                                <a href="@Url.Action("ForgetPwd","Manage")">重設密碼</a>
                            </h2>
                            <small>請輸入6~12位含英數字密碼且字首必須為英文字母</small>
                    </div>
            <div class="login-form">
                <form method="post" action="@Url.Action("ResetPassword","Manage")">
                        <input  asp-for="NewPassword" name="NewPassword" id=newPassword placeholder="請輸入新密碼..." type="password" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true" asp-validation-for="NewPassword"></span>
                        <input asp-for="CheckPassword" name="CheckPassword" id=checkPassword placeholder="再次輸入密碼..." type="password" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="CheckPassword" data-valmsg-replace="true" asp-validation-for="CheckPassword"></span>
                                    @{
                                            if (messageNew != "")
                                            {
                                                <br>

                                                <span id="error" style="color: red">@(messageNew)</span>
                                            }
                                     }
                        <input type="submit" value="儲存" class="submit"/>
                </form>
           </div>
       </div>
</div>

    

