@model MusFit.ViewModels.StudentViewModel
@{
	ViewData["Title"] = "會員編輯";
}

<link rel="stylesheet" href="~/css/StudentEdit.css">

<main class="student-edit-content justify-content-center">
	<div class="container-fluid justify-content-center">
		<div class="d-flex pt-4 pl-4">
			<h4>會員編輯</h4>
		</div>

		<form class="student-edit-form justify-content-center" method="post" action="@Url.Action("SEdit","Manage")" enctype="multipart/form-data">
			<div class="card mb-6">
				<div class="card-body text-center">
					<img src="@string.Format("data:image/png;base64,{0}", Model.SPhoto)" class="img-fluid rounded-circle mb-2" id="myPhoto" width="180" height="200">
					<div class="form-group photoFile">
						<input type="file" class="w-50" style="margin-left:300px" asp-for="SPhoto" id="SPhoto" accept=".png, .jpg, .jpeg" onchange='imgUploadCheck(this)' />
					</div>
				</div>
				<hr class="my-0" />

				<div class="card-body">
					<div class="row student-edit-form mx-sm-3 mb-2 form-inline"
                          name="student-edit-form" method="get" action="">
						<div class="col-6 student-edit-form-left">
							<div class="form-group mb-4">
								<label asp-for="SNumber">會員編號</label>
								<input asp-for="SNumber" class="form-control" type="text"
                                       name="SNumber" readonly>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SName">會員姓名 </label>
								<input asp-for="SName" class="form-control" type="text"
                                       name="SName">
								<span class="field-validation-valid text-danger" data-valmsg-for="SName"
									  data-valmsg-replace="true" asp-validation-for="SName"></span>
							</div>
							
							<div class="form-group mb-4">
								<label asp-for="SGender">性別</label>

								<label class="form-check-label" id="SGender">
									<input asp-for="SGender" class="form-check-input" type="radio" 
                                    name="SGender" value= "false">女
								</label>

								<label class="form-check-label" id="SGender">
									<input asp-for="SGender" class="form-check-input" type="radio" 
                                    name="SGender" value="true">男
								</label>
								<span class="field-validation-valid text-danger" data-valmsg-for="SGender"
									  data-valmsg-replace="true" asp-validation-for="SGender"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SBirth">生日</label>
								<input asp-for="SBirth" class="form-control" type="date"
                                       name="SBirth">
								<span class="field-validation-valid text-danger" data-valmsg-for="SBirth"
									  data-valmsg-replace="true" asp-validation-for="SBirth"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SPhone">手機號碼</label>
								<input asp-for="SPhone" class="form-control" type="tel"
                                       name="SPhone">
								<span class="field-validation-valid text-danger" data-valmsg-for="SPhone"
									  data-valmsg-replace="true" asp-validation-for="SPhone"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SMail">電子郵件</label>
								<input asp-for="SMail" class="form-control" type="email"
                                       name="SMail">
								<span class="field-validation-valid text-danger" data-valmsg-for="SMail"
									  data-valmsg-replace="true" asp-validation-for="SMail"></span>
							</div>
						</div>

						<div class="col-6 student-edit-form-right">
							<div class="from-group mb-4">
                                <label asp-for="SAccount">帳號</label>
								<input asp-for="SAccount" class="form-control" type="text" name="SAccount">
								<span class="field-validation-valid text-danger" data-valmsg-for="SName"
									  data-valmsg-replace="true" asp-validation-for="SAccount"></span>
                            </div>
							<div class="form-group mb-4">
								<label asp-for="SJoinDate">入會日期</label>
								<input asp-for="SJoinDate" class="form-control" type="date"
                                       name="SJoinDate">
								<span class="field-validation-valid text-danger" data-valmsg-for="SJoinDate"
									  data-valmsg-replace="true" asp-validation-for="SJoinDate"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SAddress">地址</label>
								<input asp-for="SAddress" class="form-control" type="text"
                                       name="SAddress">
								<span class="field-validation-valid text-danger" data-valmsg-for="SAddress"
									  data-valmsg-replace="true" asp-validation-for="SAddress"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SContactor">緊急聯絡人</label>
								<input asp-for="SContactor" class="form-control" type="text"
                                       name="SContactor">
								<span class="field-validation-valid text-danger" data-valmsg-for="SContactor"
									  data-valmsg-replace="true" asp-validation-for="SContactor"></span>
							</div>
							<div class="form-group mb-4">
								<label asp-for="SContactPhone">緊急連絡人電話</label>
								<input asp-for="SContactPhone" class="form-control" type="tel"
                                       name="SContactPhone">
								<span class="field-validation-valid text-danger" data-valmsg-for="SContactPhone"
									  data-valmsg-replace="true" asp-validation-for="SContactPhone"></span>
							</div>
							
						</div>
					</div>
				</div>
				@*<hr class="my-0" />*@
				<div class="row">
					<div class="col-1"></div>
					<div class="col-3">
						<div>
							<h5>密碼重設</h5>
						</div>
						<div class="form-group mb-4">
							<label asp-for="SPassword">密碼</label>
							<input asp-for="SPassword" class="form-control w-75" type="text" value="" readonly>
						</div>
						<div class="form-group mb-0">
							<div class=" btn-edit">
								<button id="btnSave" type="button" name="save" class="btn btn-edit" onclick="ResetPassword()">密碼重設</button>
							</div>
						</div>
					</div>
					<div class="col-3"></div>
					<div class="col-4">
                        <div class="row form-group mb-0">
                            <div class="col-6 btn-edit">
                                <button id="btnSave" type="submit" name="save" class="btn btn-dark">儲存</button>
                            </div>
                            <div class="col-6 btn-cancel">
                                <a href="@Url.Action("StudentSearch","Manage")" id="btnCanael" type="button" name="cancel" class="btn btn-cancel">取消</a>
                            </div>
                        </div>

					</div>
					
				</div>
			</div>

		</form>
	</div>
</main>

@section Scripts{
    <script>
		function ResetPassword() {
			var password = $('input[id="SBirth"]').val().replace('-', '').replace('-', '');
			$('input[id="SPassword"]').val(password);
        }


		function imgUploadCheck() {
			//當檔案改變後，做一些事
			readURL(this);   // this代表<input id="imgInp">
		};

		var base64String = "";
		var file;
		function readURL(input) {
			//因為單選的關係，所以有檔案一定是在第0個
			file = document.getElementById("SPhoto").files[0];

			//預覽
			var reader = new FileReader();
			reader.onload = function (e) {
				base64String = e.target.result;//目標結果存入字串

				var addPhoto = document.getElementById("myPhoto");
				addPhoto.src = base64String;

			}
			//給URL
			reader.readAsDataURL(file);
		}

    </script>
}

