@model MusFit.Models.Student
@{
    ViewData["Title"] = "查詢會員";
    var message = (string)ViewData["error"] ?? string.Empty;
}

<link rel="stylesheet" href="~/css/StudentQuery.css">

<main class="student-form" >
    <h4> 查詢會員</h4>
    <div class="student-content " name="student-form" method="get" action="@Url.Action("StudentQuery","Manage")">
            
        @{
            if (message != "")
            {
                    <h6 id="error" style="color: #FF88C1"><b>@ViewData["error"]</b></h6>

            }
            else
            {
                    <h6 id="success" style="color:rgb(14, 34, 62);"><b>請輸入任一資訊進行查詢</b></h6>

            }
        }
        <div class="myform">
            <label asp-for="SNumber">會員編號</label>
            <input asp-for="SNumber" type="text" name="SNumber" value="">
            <label asp-for="SName">會員姓名</label>
            <input asp-for="SName" type="text" name="SName" value="">
            <label asp-for="SAccount">會員帳號</label>
            <input asp-for="SAccount" type="text" name="SAccount" value="">
            <button id="query" type="button" onclick="QueryStudent()">查詢</button>
        </div>
        
     
    </div>
    
</main>

@section Scripts{

    <script>

        function QueryStudent() {
            var number = $('input[name="SNumber"]').val();
            var name = $('input[name="SName"]').val();
            var account = $('input[name="SAccount"]').val();
            var result = "";

            //若符合一個或多值時
            if (number != "") {
                result += 'SNumber=' + number + '&';
            }

            if (name != "") {
                result += 'SName=' + name + '&';
            }

            if (account != "") {
                result += 'SAccount=' + account + '&';
            }


            window.location.href = '@Url.Action("StudentSearch", "Manage")?' + result;
        }


    </script>



}













