@model MusFit.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "新增會員";
}

<link rel="stylesheet" href="~/css/StudentAdd.css">

<main class="student-add-content justify-content-center">
    <div class="container-fluid justify-content-center">
        <div class="d-flex pt-4 pl-4">
            <h1>新增會員</h1>
        </div>

        <form class="student-add-form justify-content-center" method="post" action="@Url.Action("Create","Manage")" enctype="multipart/form-data">
            <div class="card mb-6">
                <div class="card-body text-center">
                    <img src="" class="img-fluid rounded-circle mb-2" id="myPhoto" width="200" height="200">
                    <div class="form-group photoFile">
                        <span>請選擇</span>
                        <input type="file" asp-for="SPhoto" id="SPhoto" accept=".png, .jpg, .jpeg" onchange='imgUploadCheck(this)' />
                    </div>
                </div>
                <hr class="my-0" />

                <div class="card-body">
                    <div class="row student-add-form  form-inline" style="width:90%;"
                         name="student-add-form" method="get" action="">
                        <div class="col-6 student-add-form-left" style="text-align:left;">
                            <p id="error" style="color:red;" hidden>會員已存在!</p>
                            <div class="from-group mb-4">

                                <label asp-for="SPhone" onclick=NewStudent1()>手機號碼</label>
                                <input asp-for="SPhone" class="form-control" type="text"
                                       name="SPhone" onchange="GetStudentData()"><br>
                                <span class="field-validation-valid text-danger mt-2 " data-valmsg-for="SPhone"
                                      data-valmsg-replace="true" asp-validation-for="SPhone"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SName" onclick=NewStudent2()>會員姓名 </label>
                                <input asp-for="SName" class="form-control" type="text"
                                       name="SName"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SName"
                                      data-valmsg-replace="true" asp-validation-for="SName"></span>
                            </div>
                            <div class="from-group mb-4" >
                                <label asp-for="SGender">性別</label>
                                    <label  id="SGender" style="width:50px;">
                                        <input asp-for="SGender" type="radio" name="SGender" value="false">女
                                    </label>
                                    <label  id="SGender" style="width:50px;margin-left:10px;">
                                        <input asp-for="SGender"  type="radio" name="SGender" value="true">男
                                    </label><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SGender"
                                      data-valmsg-replace="true" asp-validation-for="SGender"></span>
                            </div>
                            <div class="from-group mb-4" >
                                <label asp-for="SBirth">生日</label>
                                <input asp-for="SBirth" class="form-control" type="date"
                                       name="SBirth" style="width:255px;"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SBirth"
                                      data-valmsg-replace="true" asp-validation-for="SBirth"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SMail">電子郵件</label>
                                <input asp-for="SMail" class="form-control" type="email"
                                       name="SMail"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SMail"
                                      data-valmsg-replace="true" asp-validation-for="SMail"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SPassword">密碼</label>
                                <input asp-for="SPassword" class="form-control" type="text"
                                       value="預設為生日(ex.19940213)" readonly>
                            </div>
                        </div>

                        <div class="col-6 student-add-form-right" >
                            <div class="from-group mb-4 ">
                                <label asp-for="SJoinDate">入會日期</label>
                                <input asp-for="SJoinDate" class="form-control" type="date" style="width:250px;"
                                       name="SJoinDate" value="@DateTime.Now.ToString("yyyy-MM-dd")"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SJoinDate"
                                      data-valmsg-replace="true" asp-validation-for="SJoinDate"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SAddress">地址</label>
                                <input asp-for="SAddress" class="form-control" type="text"
                                       name="SAddress"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SAddressName"
                                      data-valmsg-replace="true" asp-validation-for="SAddress"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SAccount">帳號</label>
                                <input asp-for="SAccount" class="form-control" type="text"
                                       name="SAccount"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SAccount"
									  data-valmsg-replace="true" asp-validation-for="SAccount"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="SContactor">緊急聯絡人</label>
                                <input asp-for="SContactor" class="form-control" type="text"
                                       name="SContactor"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SContactor"
                                      data-valmsg-replace="true" asp-validation-for="SContactor"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="SContactPhone">緊急連絡人電話</label>
                                <input asp-for="SContactPhone" class="form-control" type="tel"
                                       name="SContactPhone"><br>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="SContactPhone"
                                      data-valmsg-replace="true" asp-validation-for="SContactPhone"></span>
                            </div>
                            <div class="from-group mb-0">
                                <button id="btnSave" type="submit" name="save">儲存</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

@section Scripts{
    <script>
        function GetStudentData() {
            //宣告一個json格式的viewmodel傳過去GetStudentData
            var viewModel = {
                "SPhone": $('input[id="SPhone"]').val()
            }
            $.ajax({
                type: "post",
                url: "/Manage/GetStudentData",
                data: viewModel,
                datatype: "json",
                //cache: false, //不會緩存，post 本身就不會緩存，get 會緩存(會顯示在Url上)才需要設定
                success: function (data) {
                    var date = new Date();
                    if (data != "") {
                        var jsonData = JSON.parse(data);  //將json格式轉回物件使用
                        if (jsonData.SIsStudentOrNot == true) {
                            $('#error').removeAttr('hidden');
                            $('input[id="SName"]').val('');
                            $('input[id="SMail"]').val('');
                            $("input[name=SGender][value='false']").prop('checked', false);
                            $("input[name=SGender][value='true']").prop('checked', false);
                            $('input[id="SJoinDate"]').val('');

                        }
                        else if (jsonData.SIsStudentOrNot == false) {
                            $('#error').attr("hidden", true);
                            $('input[id="SName"]').val(jsonData.SName);
                            $('input[id="SMail"]').val(jsonData.SMail);
                            $('input[id="SJoinDate"]').val(date.toISOString().split('T')[0]);
                            if (jsonData.SGender == false) {
                                $("input[name=SGender][value='false']").prop('checked', true);
                            }
                            else {
                                $("input[name=SGender][value='true']").prop('checked', true);
                            }
                            
                            
                        }
                    }else{
                        $('#error').attr("hidden", true);
                        $('input[id="SName"]').val('');
                        $('input[id="SBirth"]').val('');
                        $('input[id="SMail"]').val('');
                        $('input[id="SAddress"]').val('');
                        $('input[id="SAccount"]').val('');
                        $('input[id="SContactor"]').val('');
                        $('input[id="SContactPhone"]').val('');
                        $("input[name=SGender][value='false']").prop('checked', false);
                        $("input[name=SGender][value='true']").prop('checked', false);
                        $('input[id="SBirth"]').val('');
                        $('input[id="SJoinDate"]').val(date.toISOString().split('T')[0]);
                    }
                }
            });
        }


        function imgUploadCheck() {
            //當檔案改變後，做一些事
            readURL(this);   // this代表<input id="imgInp">
        };

        var base64String = "";
        var file;
        function readURL(input) {
            //因為單選的關係，所以有檔案一定是在第0個
            file = document.getElementById("SPhoto").files[0];

            //預覽
            var reader = new FileReader();
            reader.onload = function (e) {
                base64String = e.target.result;//目標結果存入字串

                var addPhoto = document.getElementById("myPhoto");
                addPhoto.src = base64String;

            }
            //給URL
            reader.readAsDataURL(file);
        }


        //一鍵加入
        function NewStudent1(){
            var birth = new Date("1989-11-04");
            $('input[id="SPhone"]').val('0903225891');
            $('input[id="SName"]').val('梁凱莉');
            $("input[name=SGender][value='false']").prop('checked', true);
            $('input[id="SBirth"]').val(birth.toISOString().split('T')[0]);
            $('input[id="SMail"]').val('Katherine1104@gmail.com');
            $('input[id="SAddress"]').val('台中市南屯區公益路二段38號');
            $('input[id="SAccount"]').val('Katherine1104');
            $('input[id="SContactor"]').val('梁文華');
            $('input[id="SContactPhone"]').val('0978334720');
        }

        function NewStudent2(){
            var birth = new Date("1990-03-18");
            $('input[id="SBirth"]').val(birth.toISOString().split('T')[0]);
            $('input[id="SAddress"]').val('台中市西屯區西屯路三段150號');
            $('input[id="SAccount"]').val('wendywang0820');
            $('input[id="SContactor"]').val('王忠明');
            $('input[id="SContactPhone"]').val('0963829109');
        }
        

    </script>
}


