@model MusFit.Models.Student
@{
    ViewData["Title"] = "查詢會員";
    var message = (string)ViewData["error"] ?? string.Empty;
}

<link rel="stylesheet" href="~/css/StudentQuery.css">

<main class="justify-content-center">
    <div class="d-flex justify-content-center pt-3 pr-3">
        <h4> 查詢會員</h4>
    </div>

    <div class="row student-content justify-content-center  ">
        <div class="student-form" name="student-form" method="get" action="@Url.Action("StudentQuery","Manage")">
            <div class="from-group mb-4">
                <label class="text-left" asp-for="SNumber">會員編號</label><br>
                <input asp-for="SNumber" class="form-control" type="text" name="SNumber" value="">
            </div>
            <div class="from-group mb-4">
                <label asp-for="SName">會員姓名</label><br>
                <input asp-for="SName" class="form-control" type="text" name="SName" value="">
            </div>
            <div class="from-group mb-4">
                <label asp-for="SAccount">帳號</label><br>
                <input asp-for="SAccount" class="form-control" type="text" name="SAccount" value="">

                @{
                    if (message != "")
                    {
                        <p id="error" style="color: #FF88C1"><b>@ViewData["error"]</b></p>

                    }
                    else
                    {
                        <p id="success" style="color:rgb(14, 34, 62);"><b>*請輸入任一資訊進行查詢</b></p>

                    }
                }

            </div>
            <div class="from-group mb-4">
                <button id="query" class="btn btn-info" type="button" onclick="QueryStudent()">查詢</button>
            </div>
        </div>
    </div>
</main>

@section Scripts{

    <script>

        function QueryStudent() {
            var number = $('input[name="SNumber"]').val();
            var name = $('input[name="SName"]').val();
            var account = $('input[name="SAccount"]').val();
            var result = "";

            //若符合一個或多值時
            if (number != "") {
                result += 'SNumber=' + number + '&';
            }

            if (name != "") {
                result += 'SName=' + name + '&';
            }

            if (account != "") {
                result += 'SAccount=' + account + '&';
            }


            window.location.href = '@Url.Action("StudentSearch", "Manage")?' + result;
        }


    </script>



}













