@{
    ViewData["Title"] = "訪客資料";
}

<link rel="stylesheet" href="~/css/VisitorInfo.css" />

<div class="myContent">
    <h1>&nbsp;&nbsp;&nbsp;訪客資料管理</h1>
    <hr>
    <div class="row d-flex">
        <div class="searchArea">
            <input id="queryinfo" type="text" placeholder="請輸入訪客姓名或手機..." />  
            <input type="date" id="startDate" placeholder="體驗日期起..." onchange="this.className=(this.value!=''?'has-value':'');queryStartDateChange(this);"/> <span>~</span>
            <input type="date" id="endDate" onchange="this.className=(this.value!=''?'has-value':'')" placeholder="體驗日期迄..." />
            <button id="btnQuery">查詢</button>
            <button id="btnShowAll">顯示全部</button>
        </div>            
        <div class="createArea">
            <button id="btncreate" onclick="openCreateModel()">建立訪客</button>
            <button id="btncreateReserve" onclick="openCreateReserveModel()">預約體驗</button>
        </div>
    </div>
    <table id="myTable">
        <tr class="title">
            <th>姓名</th>
            <th class="gender">性別</th>
            <th class="phone">手機號碼</th>
            <th class="mail">信箱</th>
            <th>體驗課程</th>
            <th>課程日期</th>
            <th>操作</th>
        </tr>
    </table>
</div>

@*pagination*@
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pageid"></ul>
    </nav>
</div>

@*edit visitor information*@
<div id="editModal" class="modal">

    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="editForm">
            <h3>訪客資料</h3>
            <hr />
            <input type="hidden" id="sId" name="sId" />
            <input type="hidden" id="sNumber" name="sNumber" />
            <input type="hidden" id="sContactor" name="sContactor" />
            <input type="hidden" id="sContactPhone" name="sContactPhone" />
            <input type="hidden" id="sPhoto" name="sPhoto" />
            <input type="hidden" id="sAddress" name="sAddress" />
            <input type="hidden" id="sAccount" name="sAccount" />
            <input type="hidden" id="sPassword" name="sPassword" />
            <input type="hidden" id="sToken" name="sToken" />
            <input type="hidden" id="sJoinDate" name="sJoinDate" />
            <input type="hidden" id="sBirth" name="sBirth" />
            <input type="hidden" id="sIsStudentOrNot" name="sIsStudentOrNot" />

            <div class="row">
                <div class="column">
                    <label for="name">姓&emsp;名<span class="star"> * </span></label>
                    <input type="text" id="name" name="sName" />
                </div>
                <div id="gender_col" class="column">
                    <label for="name">性&emsp;別<span class="star"> * </span></label>
                    <input type="radio" name="sGender" />男
                    <input type="radio" name="sGender" />女
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="phone">手&emsp;機<span class="star"> * </span></label>
                    <input type="text" id="phone" name="sPhone" />
                </div>
                <div class="column">
                    <label for="mail">&nbsp;信&emsp;箱<span class="star"> * </span></label>
                    <input type="text" id="mail" name="sMail" />
                </div>
            </div>
        </form>
        <form id="editOrder">
            <input type="hidden" id="classTimeId" name="classTimeId" />
            <input type="hidden" id="sID" name="sId" />
            <input type="hidden" id="orderTime" name="orderTime" />
            <input type="hidden" id="orderStatus" name="orderStatus" />
            <input type="hidden" id="eId" name="eId" />
            <input type="hidden" id="orderId" name="orderId" />
            <div class="row">
                <div class="column">
                    <label for="className">體驗課程<span class="star"> * </span></label>
                    <select onchange="changeClass(this)" id="className"></select>
                </div>
                <div class="column">
                    <label for="classDate">課程日期<span class="star"> * </span></label>
                    <select onchange="changeDate(this)" id="classDate"></select>
                </div>
            </div>
            <input type="button" id="btnEditConfirm" value="確定" />
            <span class="cancel" onclick="closeModal()">取消</span>
            <div><a id="moreDetail" onclick="AddStudent()">填寫詳細資訊...</a></div>
        </form>
    </div>

</div>

@*create visitor information*@
<div id="createModal" class="modal">

    <div class="modal-content createmodals">
        <span class="close" id="leaveCreate">&times;</span>
        <form id="createForm">
            <h3>新增訪客資料</h3>
            <hr />
            <input type="hidden" name="sIsStudentOrNot" value="false" />
            <input type="hidden" name="sContactor" value="null" />
            <input type="hidden" name="sContactPhone" value="null" />
            <input type="hidden" name="sPhoto" value="null" />
            <input type="hidden" name="sAddress" value="null" />
            <input type="hidden" name="sAccount" value="null" />
            <input type="hidden" name="sPassword" value="null" />
            <input type="hidden"  name="sToken"  value="null" />
            <input type="hidden" name="sJoinDate" value="null"/>
            <input type="hidden" name="sBirth" value="null" />

            <div class="row">
                <div class="column">
                    <label for="name">姓&emsp;名<span class="star"> * </span></label>
                    <input type="text" id="CreateName" name="sName" placeholder="ex. 李昀蓁"/>
                </div>
                <div id="create_gender_col"class="column">
                    <label for="name">性&emsp;別<span class="star"> * </span></label>
                    <input type="radio" name="sGender" value="true"/>男
                    <input type="radio" name="sGender" value="false" />女
                    <input type="radio" name="sGender" hidden value="0" checked />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="phone">手&emsp;機<span class="star"> * </span></label>
                    <input type="text" id="CreatePhone" name="sPhone" placeholder="ex. 0912345678" />
                </div>
                <div  id="create_mail_col" class="column">
                    <label for="mail">信&emsp;箱<span class="star"> * </span></label>
                    <input type="text" id="CreateMail" name="sMail" placeholder="ex. MusFit1998@gmail.com" />
                </div>
            </div>
            <input type="button" id="btnCreateConfirm" value="確定" />
            <span class="cancel" id="cancelCreate">取消</span>
        </form>

    </div>

</div>

@*create-visitor-reseration*@
<div id="createReserveModal" class="modal">

    <div class="modal-content createmodals">
        <span class="close" id="leaveReservation">&times;</span>
        <h3>預約課程體驗</h3>
        <form id="createOrder">
            <input type="hidden" id="new_classTimeId" name="classTimeId" />
            <input type="hidden" id="new_sID" name="sId" />
            <input type="hidden" id="new_orderTime" name="orderTime" />
            <input type="hidden" id="new_orderStatus" name="orderStatus" />
            <input type="hidden" id="new_eId" name="eId" />

            <div class="row">
                <div class="column">
                    <label for="visitorPhone">訪客手機<span class="star"> * </span></label>
                    <input type="text" onchange="visitorSelect()" id="visitorPhone" placeholder="請輸入手機查詢...">

                </div>
                <div class="column">
                    <label for="guestNumber">訪客姓名</label><span>&nbsp;&nbsp;</span>
                    <select onchange="selectVisitor(this)" id="visitorName">
                        <option value="none" selected hidden disabled>請輸入手機查詢訪客...</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <label for="new_className">課程名稱<span class="star"> * </span></label>
                    <select onchange="changeClass(this)" id="new_className">
                        <option value="none" selected hidden disabled>請選擇體驗課程...</option>
                    </select>
                </div>
                <div class="column">
                    <label for="new_classDate">體驗日期<span class="star"> * </span></label>
                    <select onchange="changeDate(this)" id="new_classDate">
                        <option value="none" selected hidden disabled>請選擇體驗日期...</option>
                    </select>
                </div>
            </div>
            <input type="button" id="btnCreateReserveConfirm" value="確定" />
            <span class="cancel" id="cancelReservation">取消</span>
        </form>
    </div>
</div>

@*delete Visitor Information*@
<div id="deleteModal" class="modal">

    <div id="deleteContent" class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>確定刪除此筆紀錄?</p>
        <div>
            <form id="deleteForm">
                <input type="hidden" id="delOrderID" />
                <input type="hidden" id="delClassRecordID" />
                <input type="button" id="btnconfirmdelete" value="確定">
                <span class="cancel" onclick="closeModal()">取消</span>
            </form>
        </div>

    </div>

</div>

@*query No Data*@
<div id="showNoDataModal" class="modal">

    <div id="noDataModal" class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>查無資料</p>
        <button id="confirmNoData" class="btnConfirmMessage" onclick="closeModal()">確定</button>
    </div>

</div>

@*show error message *@
<div id="errorMessage" class="modal">

    <div id="errorModal" class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>請輸入查詢條件!!</p>
        <button id="confirmError" class="btnConfirmMessage" onclick="closeModal()">確定</button>
    </div>

</div>

@*show validation message*@
<div id="validationMessage" class="modal">

    <div id="validationModal" class="modal-content">
        <span class="close" onclick="closeValidationModel()">&times;</span>
        <p><span class="star">* </span>為必選欄位!!!</p>
        <button id="confirmValidation" class="btnConfirmMessage" onclick="closeValidationModel()">確定</button>
    </div>

</div>

<div id="valPhoneMessage" class="modal">

    <div id="valPhoneModal" class="modal-content">
        <span class="close" onclick="closeValidationModel()">&times;</span>
        <p>手機格式輸入有誤!!</p>
        <button id="confirmValPhone" class="btnConfirmMessage" onclick="closeValidationModel()">確定</button>
    </div>

</div>

<div id="valMailMessage" class="modal">

    <div id="valMailModal" class="modal-content">
        <span class="close" onclick="closeValidationModel()">&times;</span>
        <p>信箱格式輸入有誤!!</p>
        <button id="confirmValMail" class="btnConfirmMessage" onclick="closeValidationModel()">確定</button>
    </div>

</div>

<div id="valVisitorMessage" class="modal">

    <div id="valVisitorModal" class="modal-content">
        <span class="close" onclick="closeValidationModel()">&times;</span>
        <p>查無訪客資料，請先建立訪客資訊!!</p>
        <button id="confirmValVisitor" class="btnConfirmMessage" onclick="closeValidationModel()">確定</button>
    </div>

</div>

@*success operation*@
<div id="messageModal" class="modal">

    <div id="successModal" class="modal-content">
        <span class="close" onclick="closeSuccessModel()">&times;</span>
        <input type="hidden" id="visitorSId" />
        <p id="message"></p>
        <button id="confirmMessage" class="btnConfirmMessage" onclick="closeSuccessModel()">確定</button>
    </div>

</div>


@section Scripts{
    <script src="~/js/VisitorInfo.js"></script>
    <script>
        function AddStudent() {
            var student = $('#phone').val();
            window.location.href = '@Url.Action("SAdd", "Manage")?SPhone=' + student;
        }


    </script>
}

